<?xml version="1.0" encoding="UTF-8"?>
<server description="r-uu lib integration test server">

    <featureManager>
        <feature>microProfile-7.0</feature>
    </featureManager>

    <variable name="default.http.port"  defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <httpEndpoint
        id="defaultHttpEndpoint"
        host="*"
        httpPort="${default.http.port}"
        httpsPort="${default.https.port}"/>

    <webApplication
        location="${project.artifactId}.war"
        contextRoot="/"/>

    <!-- MicroProfile Config: system properties take precedence over server.env -->
    <mpConfig/>

</server>
