<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%d{HH:mm:ss.SSS} %-5level %logger{36}.%M(%L) - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" />
		</Root>

		<!-- hibernate logging -->
		<Logger name="org.hibernate.SQL" level="info" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="org.hibernate.orm.jdbc.bind" level="info" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="org.hibernate.stat" level="info" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="org.hibernate.SQL_SLOW" level="info" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="org.hibernate.cache" level="info" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>

		<Logger name="org.hibernate" level="info" additivity="false">
			<AppenderRef ref="console" level="info"/>
		</Logger>

		<!-- weld logging -->
		<Logger name="org.jboss.weld" level="info" additivity="false">
			<appender-ref ref="console" level="info" />
		</Logger>
	</Loggers>
</Configuration>